<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AnaliseSentimento.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49F6CBEB27106DBB00F737B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49F6CBFB27106DBD00F737B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49F6CC0527106DBD00F737B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
